#united-coupon-button
{
  list-style-image: url("chrome://unitedtb/skin/coupon/coupon-small.png");
}

#united-coupon-button[rewards]
{
  list-style-image: url("chrome://unitedtb/skin/coupon/coupon-small.png");
}

#united-coupon-button-tooltipbox
{
  -moz-appearance: none;
  background-color: transparent;
  border: none;
}

#united-coupon-button-tooltipbox-box {
  background-color: #801849;
  border: 2px solid white;
  border-top: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}

#united-coupon-button-tooltipbox[type="rewards"] #united-coupon-button-tooltipbox-box {
  background-color: #D48037;
}

#united-coupon-button-tooltipbox-icon
{
  margin-right: 5px;
  list-style-image: url('chrome://unitedtb/skin/coupon/tooltipbox_normal_icon.png');
}
#united-coupon-button-tooltipbox[type="rewards"] #united-coupon-button-tooltipbox-icon
{
  list-style-image: url('chrome://unitedtb/skin/coupon/tooltipbox_rewards_icon.png');
}

#united-coupon-button-tooltipbox-close
{
  margin-right: 5px;
  list-style-image: url('chrome://unitedtb/skin/coupon/tooltipbox_normal_close.png');
}

#united-coupon-button-tooltipbox[type="rewards"] #united-coupon-button-tooltipbox-close
{
  margin-right: 5px;
  list-style-image: url('chrome://unitedtb/skin/coupon/tooltipbox_rewards_close.png');
}

#united-coupon-tooltipbox-arrow-left,
#united-coupon-tooltipbox-arrow-right {
  border-bottom: 2px solid white;
}

#united-coupon-tooltipbox-arrow {
  margin-bottom: -2px;
  list-style-image: url('chrome://unitedtb/skin/coupon/tooltipbox_normal_arrow.png');
}

#united-coupon-button-tooltipbox[type="rewards"] #united-coupon-tooltipbox-arrow {
  list-style-image: url('chrome://unitedtb/skin/coupon/tooltipbox_rewards_arrow.png');
}

#united-coupon-tooltipbox-description-1,
#united-coupon-tooltipbox-description-2 {
  width: 30em;
}
