/* disable toggel button, so that user must see the tab-grid!
Note: moved to newTab.xul to enable opt-in feature */

/* #newtab-toggle { 
 	display: none;
 } */

/* do not display "title" - icon is more important */
.newtab-title.onet {
	display: none;
}

/* always display full icon centered */
.newtab-thumbnail.onet {
	background-position: 0 0;
}