#email-settings {
  width: 30em;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: 13px;
  margin-bottom: 25px;
}

input[type="text"], input[type="password"] {
  width: 100%;
}

#emailaddress-box, #password-box, #long-session-box, #account-changes, #email-intro, #error-msg {
  margin: 10px;
}

#email-intro {
  margin-bottom: 20px;
}

#long-session-box {
  margin-top: 20px;
}

#error-msg {
  color: red;
  font-weight: bold;
}

#forgot-password, #create-account {
  font-size: 11px;
  text-decoration: none;
  color: #2269c3
}

#forgot-password:hover, #create-account:hover {
  text-decoration: underline;
}


#account-changes {
  height: 10px;
}
#create-account {
  float: right;
}
#forgot-password {
  float: left;
}
#long-session-box {
  clear: both;
}
#long-session {
  vertical-align: middle;
}
