body { background: #EFF0F4; }
#header {
  height: 84px;
  background: -moz-linear-gradient(#eff3f6, #c4ceda 95%, white 96%, #d7dce1 97%, white);
}
#header a { background: url(chrome://unitedtb/skin/brand/icon-big.png) no-repeat 0 0; width: 64px; height: 64px; margin: 9px 0 9px 50px; }
#header .header-text{
  margin-left: 50px;
  margin-bottom: 25px;  margin-top: 25px;
  color: #6f7c85;
  /*color: -moz-linear-gradient(#a3b1c2, #6f7c85);*/
  font-size: 30px;
  font-weight: normal;
}
#main h2 { color: #536F8A; }
#search-button {
  border-color: #e4b300;
  color: black;
  /* <https://developer.mozilla.org/en/CSS/-moz-linear-gradient> */
  background: -moz-linear-gradient(#ffe587 2%, #ffcd17 50%, #ffe587 98%);
}
