/* This whole CSS is a nightmare, esp. the absolute positioning per pixel and the floats, and falls apart when we want to change anything. This whole CSS should be replaced in its entirety. */

body { background: #FFFFFF; color: #000000; font: 11px Verdana, Arial, Helvetica, sans-serif; }
* { margin: 0; padding: 0; }
ul { list-style: none; }
img { border: none; }
a { text-decoration: none; outline: none; }
#header { height: 90px; }
#header h1 { position: absolute; left: 36px; top: 30px; }
#logo {
  background-image: url("chrome://unitedtb/skin/brand/icon-big.png");
  background-repeat: no-repeat;
  display: block;
  width: 150px;
  height: 64px;
}
.img-alt { display: none; }
#header #searchform { position: absolute; top: 20px; left: 185px; }
#header #searchform fieldset { border: 0px; background-color: white; padding: 15px; }
#poweredby-logo {
  position: absolute; right: 20px; top: 30px;
  background-image: url("chrome://unitedtb/skin/brand/search-poweredby.png");
  background-repeat: no-repeat;
  width: 170px;
  height: 31px;
  overflow: hidden;
  z-index: -1;
}
#header #searchform fieldset legend { display: none; }
#header #searchform #searchterm {
  float: left;
  height: 25px;
  max-width: 542px;
  width: 400px;
  line-height: 21px;
  padding: 1px 4px;
  border-width: 1px;
  /*border-right-width: 0px; -- looks bad when wrapping */
  border-style: solid; border-color: #BBBBBB;
  color: black;
  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-weight: 300;
}
#header #searchform .button {
  height: 29px;
  width: 75px;
  padding: 1px 0 3px;
  border-width: 1px; border-style: solid;
  border-color: #1144CC #7995DD #7995DD #1144CC;
  color: white;
  font-family: Arial, sans-serif; font-size: 18px; font-weight: 400;
  /* <https://developer.mozilla.org/en/CSS/-moz-linear-gradient> */
  background: -moz-linear-gradient(rgb(110,160,185) 40%, rgb(27,112,153) 60%);
}
#main { margin-left: 10px; }
#contentheader { height: 20px; padding-top: 10px; border-bottom: 1px solid #E7E7E7; margin-bottom: 10px; text-align: right; }
#contentheader h2 { float: left; margin-left: 190px; }
#recommended-header { clear: left; margin-bottom: 15px; }
#recommended { margin-left: 190px; margin-top: 30px; }
#contentheader h2, #recommended-header { font-size: 12px; color: #55AB01; }
#contentheader > div { display: inline; margin-left: 20px; }
/* TODO: is this the correct color? */
#contentheader a { color: #353A3A;} 
#listview,
#galleryview,
#most-visited-manage {
  line-height: 16px;
  font-size: 10px;
  height: 12px;
  padding: 1px 20px 5px 0;
  cursor: pointer;
}
#listview > .imgbutton,
#galleryview > .imgbutton {
  background-image: url("chrome://unitedtb/skin/newtab/gallery-buttons.png");
  background-repeat: no-repeat;
  background-position: 64px 16px;
  width: 16px; height: 16px;
  vertical-align: middle;
  display: inline-block;
}
body[viewmode="list"] #galleryview > .imgbutton { background-position: 0px 0px; }
body[viewmode="gallery"] #galleryview > .imgbutton { background-position: -17px 0px; }
body[viewmode="gallery"] #listview > .imgbutton { background-position: -33px 0px; }
body[viewmode="list"] #listview > .imgbutton { background-position: -49px 0px; }
#sitebar { position: absolute; width: 180px; }
.module, .module a { color: #353A3D; line-height: 15px; }
.module { margin-bottom: 20px; }
.module li { margin-top: 2px; cursor: pointer; }
.modulepart h4 a, .module li a { text-decoration: underline; }
.module h3 { font-size: 11px; }
.modulepart { margin: 5px 0 15px; }
.modulepart a img { float: left; clear: left; margin-right: 10px; }
.modulepart h4 { vertical-align: -5px; }
.modulepart h4 a, .module p a { float: none; }
#content { margin-left: 190px; }
#most-visited-list a { color: #2269C3; }
#last-searches-delete { cursor: pointer; }
#last-searches-delete[have-results="false"] { display: none; }
#last-searches-manage { cursor: pointer; }
#last-searches-manage[have-results="false"] { display: none; }
.modulefooter { padding-top: 8px; }
li.no-results { cursor: text; }
#recommended[have-results="false"] { display: none; }
#last-searches-list a:hover { color: white; background: #114DA1;}

img.favicon { width: 16px; height: 16px; }

body[viewmode="gallery"] #content, body[viewmode="gallery"] #recommended { margin-left: 186px; margin-top: 30px; }
body[viewmode="gallery"] #most-visited-list .mostvisited {
  /*background: url(chrome://unitedtb/skin/newtab/sprite.jpg) no-repeat 0px -76px;*/
  width: 204px; height: 164px;
  margin: 0 60px 40px 0;
  position: relative;
  float: left;
  overflow: hidden;
}
body[viewmode="gallery"] .recommended-site {
  float: left;
  width: 204px;
  margin: 0 60px 40px 0;
}
body[viewmode="gallery"] #most-visited-list div.thumbnail img.smallicon { padding: 16px; margin-top: 43px; border: 2px solid lightgray;}
body[viewmode="gallery"] #most-visited-list div.thumbnail { margin: 4px; text-align: center;}
body[viewmode="gallery"] .sitetitle { line-height: 12px; }
body[viewmode="gallery"] img.favicon { margin: 4px 2px 0 4px; position: relative; vertical-align: -4px; }

body[viewmode="list"] #most-visited-list { margin-top: 20px; }
body[viewmode="list"] #most-visited-list .mostvisited, body[viewmode="list"] #recommended .recommended-site { height: 36px; }
 body[viewmode="list"] #most-visited-list div.thumbnail { display: none; }
body[viewmode="list"] .sitetitle { font-size: 14px; font-weight: 700; text-decoration: underline; }
body[viewmode="list"] img.favicon { margin: 4px 2px 0 0; position: relative; vertical-align: -3px; }

.unselectable {
   -moz-user-select: none;
}

body[viewmode="gallery"] #most-visited-list img.thumbnail[loading="true"] {
  background-image: url('chrome://unitedtb/skin/newtab/throbber.png');
  background-repeat: no-repeat;
}

.ac-popup {
  width: 500px;
}
