/* Status bar button */

#zoompanel-menulist > .menulist-editable-box {
	background-image: url("chrome://zoompanel/content/zoom-in.png");
	background-repeat: no-repeat;
 	background-position: center right;
}

#zoompanel-menulist {
	min-width: 10em;
	margin-left: 0px;
	margin-top: 0px ! important;
	margin-bottom: 0px ! important;
}