#zoompanel-statusbar-icon {
	list-style-image: url("chrome://zoompanel/content/zoom-status.png");
	display: -moz-box;
	padding-left: 3px;
	padding-right: 3px;
}

separator {
	border-bottom: 1px solid grey;
}

#zoompanel-popup {
	width: 130px;
	-moz-appearance: none;
	border: 1px solid #ccc;
	-moz-border-radius: 6px;
	padding: 5px 5px 5px 5px;
}

#zoompanel-zoom-factor {
	text-align: center;
	font-size: 12px;
	font-family: Verdana,Tahoma,Arial,Sans-serif;
}

.zoompanel-button-container {
	padding: 5px 5px 0px 5px;
}

.zoompanel-button-container:last-child {
	padding: 5px 5px 5px 5px;
}

.zoompanel-button-container > image {
	margin-top: 11px;
	margin-bottom: 7px;
	margin-right: 5px;
}

.zoompanel-button-container button {
	-moz-appearance: none;
	border: 1px solid #999999;
	-moz-border-radius: 2px;
	height: 26px;
	text-align: center;
	background:url(chrome://zoompanel/content/button-background.png) repeat-x scroll left center #eee; 
	background:-moz-linear-gradient(-90deg, #fff, #ddd); 	
}