@import url(chrome://global/skin/);@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);@namespace html url(http://www.w3.org/1999/xhtml);@namespace islands url(http://bar.yandex.ru/ui/islands);dialog{font:13px/18px Arial,sans-serif}
islands|*{color:#666}
dialog{-moz-appearance:none!important;background-color:#fff;color:#333;margin:0;padding:0}
dialog[ex-transparent=true]{background-color:transparent;padding:12px}
dialog[ex-shadow=true]>hbox{box-shadow:0 4px 8px rgba(0,0,0,.5)}
dialog[ex-shadow=false]>hbox{border:1px solid #ccc}
dialog>hbox{max-width:50em;background-color:#fff;padding:30px 70px 30px 40px}
hbox.dialog-button-box{display:none}
#vendor-image{margin-right:30px}
html|h3{margin:-4px 0 0 0;padding:0;font-size:21px;line-height:25px;font-weight:400}
html|p{margin:1em 0 1.2em}
html|a{text-decoration:underline;cursor:pointer;outline:0}
#options-groupbox{margin-bottom:1em}