<!DOCTYPE html>
<html class="i-ua_js_no i-ua_css_standard">
<head>
    <meta charset="utf-8"/>
    <title>&#160;</title>
    <script>
        ;(function(d, e, c, r) {e = d.documentElement;c = "className";r = "replace";e[c] = e[c][r]("i-ua_js_no", "i-ua_js_yes");if (d.compatMode != "CSS1Compat")e[c] = e[c][r]("i-ua_css_standart", "i-ua_css_quirks")})(document);
        ;
    </script>
    <link rel="stylesheet" href="chrome://yandex-vb/content/fastdial/layout/_common.css"/>
    <link rel="shortcut icon" href="chrome://yandex-vb/content/fastdial/layout/favicon.png"/>
</head>
<body class="b-page__body i-action b-page b-page_pos_absolute i-bem i-queue i-cache" data-bem='{"b-page":{}, "i-action": {}}'>
    <script type="text/javascript;version=1.7" src="chrome://yandex-vb/content/fastdial/api.js"></script>
    <script src="chrome://yandex-vb/content/fastdial/layout/jquery.js"></script>
    <script type="text/javascript" src="chrome://yandex-vb/content/fastdial/layout/ui.js"></script>
</body>
</html>
