@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);panel{-moz-appearance:none;background:0 0;border:0;cursor:pointer!important}
[anonid=container]{color:#fff;background:#000;border-radius:14px;font-size:13px;line-height:28px;font-family:Arial,sans-serif;padding-left:10px;padding-right:14px;opacity:.3}
label{margin:0!important;cursor:pointer!important}
[anonid=container]:hover{opacity:.7}
[anonid=container]:active{opacity:.8}
[anonid=image-container]{width:20px;-moz-margin-end:7px}
[anonid=yadisk-image]{list-style-image:url(../icons/button-disk.svg);margin:0}
.activated [anonid=yadisk-image]{list-style-image:url(../icons/button-activated.svg)}