#united-ticker-button
{
  list-style-image: url("chrome://unitedtb/skin/ticker/ticker-small.png");
}

#united-ticker-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #united-ticker-button
{
  list-style-image: url("chrome://unitedtb/skin/ticker/ticker-32.png");
}

#united-ticker-button .united-news-item
{
  list-style-image: url("chrome://unitedtb/skin/ticker/ticker-small.png");
}
