@namespace url(http://bar.yandex.ru/ui/islands);@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);*{-moz-user-select:none;user-select:none;display:block}
button{-moz-binding:url(controls/controls.xml#button);margin:2px 0 2px 10px}
button:first-child{margin-left:0}
button:last-child{margin-right:0}
checkbox{-moz-binding:url(controls/controls.xml#checkbox);margin:3px 0}