html {
background:#e6e6e6;
font: 0.75em/1.5 arial, sans-serif;
}

#page {
width:98%;
max-width:900px;
margin:0 auto;
}

#content {
background:#fff;
border:2px solid #ccc;
width:auto;
margin-top:4.332em;
padding:1.083em 2em 3em;
}

#logo img {
float:right;
border:0;
}

.snippet {
color:#77C;
}

label {
display:block;
text-align:left;
padding:0 0 .8em;
}

#searchform #searchterm {
  float: left;
  height: 25px;
  max-width: 542px;
  width: 400px;
  line-height: 21px;
  padding: 1px 4px;
  border-width: 1px;
  /*border-right-width: 0px; -- looks bad when wrapping */
  border-style: solid; border-color: #BBBBBB;
  color: black;
  font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 18px; font-weight: 300;
}
#searchform .button {
  height: 29px;
  width: 75px;
  padding: 1px 0 3px;
  border-width: 1px; border-style: solid;
  border-color: #1144CC #7995DD #7995DD #1144CC;
  color: white;
  font-family: Arial, sans-serif; font-size: 18px; font-weight: 400;
  /* <https://developer.mozilla.org/en/CSS/-moz-linear-gradient> */
  background: -moz-linear-gradient(rgb(110,160,185) 40%, rgb(27,112,153) 60%);  
}

#badurl {
}
