@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);button{-moz-appearance:none!important;margin:0 1px 0 0!important;padding:0!important;border:0!important;width:17px;-moz-box-orient:vertical;-moz-user-focus:none}
button>box{-moz-box-flex:1;-moz-box-align:center;-moz-box-pack:center}
toolbar button image{list-style-image:url(images/down.svg)}
toolbox[cb-theme-color=dark] toolbar button image{list-style-image:url(images/down-inverted.svg)}
button[cb-collapsed-state=false] image{list-style-image:url(images/up.png)}
button[cb-collapsed-state=false] image{list-style-image:url(images/up.svg)}
toolbox[cb-theme-color=dark] button[cb-collapsed-state=false] image{list-style-image:url(images/up-inverted.svg)}
toolbox[customizing=true] toolbar button{display:none!important}