body { background: #FFFFFF; color: #000000; font: 11px Verdana, Arial, Helvetica, sans-serif; }
* { margin: 0; padding: 0; }
ul { list-style: none; }
img { border: none; }
a { text-decoration: none; outline: none; }
#header { height: 90px; }
#header h1 { position: absolute; left: 36px; top: 30px; }
#logo {
  background-image: url("chrome://unitedtb/skin/brand/icon-big.png");
  background-repeat: no-repeat;
  display: block;
  width: 150px;
  height: 64px;
}
.img-alt { display: none; }
#header #searchform { position: absolute; top: 20px; left: 185px; }
#header #searchform fieldset { border: 0px; background-color: white; padding: 15px; }
#poweredby-logo {
  position: absolute; right: 20px; top: 30px;
  background-image: url("chrome://unitedtb/skin/brand/search-poweredby.png");
  background-repeat: no-repeat;
  width: 170px;
  height: 31px;
  overflow: hidden;
  z-index: -1;
}
#header #searchform fieldset legend { display: none; }
#header #searchform #searchterm { float: left; font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: 300; padding: 2px 2px 0; width: 340px; }
#header #searchform .button {
  border-style: solid; border-color: #47839B #8DA8B3 #8DA8B3 #47839B; border-width: 1px;
  margin-left: 10px;
  font-family: Arial, sans-serif; font-size: 14px; font-weight: 700;
  padding: 1px 2px;
  width: 82px;
  color: white;
  /* <https://developer.mozilla.org/en/CSS/-moz-linear-gradient> */
  background: -moz-linear-gradient(rgb(110,160,185) 40%, rgb(27,112,153) 60%);
}
#main { margin-left: 10px; }
#contentheader { height: 20px; padding-top: 10px; border-bottom: 1px solid #E7E7E7; margin-bottom: 10px; text-align: right; }
#contentheader h2 { float: left; font-size: 12px; color: #55AB01; margin-left: 190px; }
#contentheader > div { display: inline; margin-left: 20px; }
/* TODO: is this the correct color? */
#contentheader a { color: #353A3A;} 
#listview,
#galleryview,
#most-visited-manage {
  line-height: 16px;
  font-size: 10px;
  height: 12px;
  padding: 1px 20px 5px 0;
  cursor: pointer;
}
#listview > .imgbutton,
#galleryview > .imgbutton {
  background-image: url("chrome://unitedtb/skin/newtab/gallery-buttons.png");
  background-repeat: no-repeat;
  background-position: 64px 16px;
  width: 16px; height: 16px;
  vertical-align: middle;
  display: inline-block;
}
body[viewmode="list"] #galleryview > .imgbutton { background-position: 0px 0px; }
body[viewmode="gallery"] #galleryview > .imgbutton { background-position: -17px 0px; }
body[viewmode="gallery"] #listview > .imgbutton { background-position: -33px 0px; }
body[viewmode="list"] #listview > .imgbutton { background-position: -49px 0px; }
#sitebar { position: absolute; width: 180px; }
.module, .module a { color: #353A3D; line-height: 15px; }
.module { margin-bottom: 20px; }
.module li { margin-top: 2px; cursor: pointer; }
.modulepart h4 a, .module li a { text-decoration: underline; }
.module h3 { font-size: 11px; }
.modulepart { margin: 5px 0 15px; }
.modulepart a img { float: left; clear: left; margin-right: 10px; }
.modulepart h4 { vertical-align: -5px; }
.modulepart h4 a, .module p a { float: none; }
#content { margin-left: 190px; }
#most-visited-list a { color: #2269C3; }
#last-searches-delete { cursor: pointer; }
#last-searches-delete[have-results="false"] { display: none; }
#last-searches-manage { cursor: pointer; }
#last-searches-manage[have-results="false"] { display: none; }
.modulefooter { padding-top: 8px; }
li.no-results { cursor: text; }

body[viewmode="gallery"] #content { margin-left: 186px; margin-top: 30px; }
body[viewmode="gallery"] #most-visited-list .mostvisited {
  /*background: url(chrome://unitedtb/skin/newtab/sprite.jpg) no-repeat 0px -76px;*/
  width: 204px; height: 164px;
  margin: 0 60px 40px 0;
  position: relative;
  float: left;
  overflow: hidden;
}
body[viewmode="gallery"] #most-visited-list a:hover img.thumbnail { border: 2px solid #55AB01; margin: 2px; }
body[viewmode="gallery"] #most-visited-list .sitetitle { line-height: 12px; }
body[viewmode="gallery"] #most-visited-list img.thumbnail { margin: 4px; }
body[viewmode="gallery"] #most-visited-list img.favicon { margin: 4px 2px 0 4px; position: relative; vertical-align: -4px; }

body[viewmode="list"] #most-visited-list { margin-top: 20px; }
body[viewmode="list"] #most-visited-list .mostvisited { height: 36px; }
body[viewmode="list"] #most-visited-list img.thumbnail { display: none; }
body[viewmode="list"] #most-visited-list img.favicon { margin: 4px 2px 0 0; position: relative; vertical-align: -3px; }
body[viewmode="list"] #most-visited-list .sitetitle { font-size: 14px; font-weight: 700; text-decoration: underline; }

.unselectable {
   -moz-user-select: none;
}

body[viewmode="gallery"] #most-visited-list img.thumbnail[loading="true"] {
  background-image: url('chrome://unitedtb/skin/newtab/throbber.png');
  background-repeat: no-repeat;
}
