@namespace url(http://www.w3.org/1999/xhtml);@namespace xul url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);xul|notification{padding-left:10px;padding-right:10px;height:auto;line-height:25px}
span[anonid=link-container]{line-height:40px;width:500px;display:inline-block}
span.notice{font-size:13px;color:gray}