.l-table{width:100%;margin:0;padding:0;border-collapse:collapse}
.l-table__7-65-24{margin:0 0 40px}
.l-table__7-91{margin:0}
.l-table__7-65-24_col,.l-table__7-91_col{margin:0;padding:0;border:0;vertical-align:top}
.l-table__7-65-24_left,.l-table__7-91_left{width:7%}
.l-table__7-65-24_center{width:65%}
.l-table__7-91_center{WIDTH:91%}
.l-table__7-65-24_right{width:24%}
.l-table__7-65-24_gap,.l-table__7-91_gap{width:2%}
.l-table__7-65-24_gap i,.l-table__7-91_gap i{display:block;width:20px}