#united-email-button[status="disconnected"],
#united-email-statusbar-image[status="disconnected"]
{
  list-style-image: url("chrome://unitedtb/skin/email/email-disconnect-small.png");
}
#united-email-button[status="disconnected"][cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #united-email-button[status="disconnected"]
{
  list-style-image: url("chrome://unitedtb/skin/email/email-disconnect-32.png");
}
#united-email-button[status="no-new"],
#united-email-statusbar-image[status="no-new"]
{
  list-style-image: url("chrome://unitedtb/skin/email/email-nonew-small.png");
}
#united-email-button[status="no-new"][cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #united-email-button[status="no-new"]
{
  list-style-image: url("chrome://unitedtb/skin/email/email-nonew-32.png");
}
#united-email-button[status="new"],
#united-email-statusbar-image[status="new"]
{
  list-style-image: url("chrome://unitedtb/skin/email/email-new-small.png");
}
#united-email-button[status="new"][cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #united-email-button[status="new"]
{
  /* important overrides the badge that's setting list-style-image with higher specificity */
  list-style-image: url("chrome://unitedtb/skin/email/email-new-32.png") !important;
}
#united-email-button[checking="true"],
#united-email-statusbar-image[checking="true"]
{
  list-style-image: url("chrome://unitedtb/skin/email/email-spinner-16.png") !important;
}
#united-email-button[checking="true"] .toolbarbutton-icon
{
  -moz-animation-name: spinnerRotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}
@-moz-keyframes spinnerRotate {
  from {
    -moz-transform:rotate(0deg);
  }
  to {
    -moz-transform:rotate(360deg);
  }
}
#united-email-button-dropdown > menuitem.united-email-unread-menuitem[status="disconnected"]
{
  list-style-image: url("chrome://unitedtb/skin/email/email-disconnect-small.png");
}
#united-email-button-dropdown > menuitem.united-email-unread-menuitem[status="no-new"]
{
  list-style-image: url("chrome://unitedtb/skin/email/email-nonew-small.png");
}
#united-email-button-dropdown > menuitem.united-email-unread-menuitem[status="new"]
{
  list-style-image: url("chrome://unitedtb/skin/email/email-new-small.png");
}

#united-email-button-dropdown > menuitem.united-email-unread-menuitem[status="new"] {
  font-weight: bold;
}

#united-email-checknow
{
  list-style-image: url("chrome://unitedtb/skin/email/refresh-small.png");
}

#united-email-configure-menuitem
{
  list-style-image: url("chrome://unitedtb/skin/pref/pref-small.png");
}

#united-logged-in-button
{
  list-style-image: url("chrome://unitedtb/skin/email/logged-in-small.png");
}
#united-logged-out-button
{
  list-style-image: url("chrome://unitedtb/skin/email/logged-out-small.png");
}
#united-logged-in-menuitem
{
  list-style-image: url("chrome://unitedtb/skin/email/log-out-small.png");
}

#united-email-popup > hbox {
   background-color: white;
}
#united-email-popup > hbox > image {
  list-style-image: url("chrome://unitedtb/skin/email/xxltooltip.png");
}
