label:first-child {
  width: 125px;
  display: inline-block;
  text-align: left;
}

input[type="text"], input[type="password"] {
  width: 200px;
}

#emailaddress-box, #password-box, #long-session-box {
  margin: 10px;
}

#loginform {
  text-align: center;
  width: 630px;
}

#error-msg {
  color: red;
}

#forgot-password, #create-account {
  float: left;
  font-size: smaller;
}

#create-account {
  margin-left: 25px;
}

#close-button {
  font-size: smaller;
}
