/* Fix the styling of the urlbar-search-splitter
 * this is the thing you drag to resize the urlbar, etc
 */
#main-window[btBoom="cybermentors"]
  #urlbar-search-splitter {
    border: none !important;
    background-image: url(../../skin/cybermentors/resources/splitter/dimple.png) !important;
    background-position: center;
    background-repeat: no-repeat !important;
    background-color: transparent;
    -moz-box-align: center;
    -moz-box-pack: center;
    min-height: 9px;
    min-width: 9px; width: 9px;
  }

/* Findbar color fix for windows, bgcolor shows through.*/
#main-window[btBoom="cybermentors"]
  #FindToolbar {
    background-color: -moz-dialog;
  }
  
#bt-cybermentors-toolbar bttoolbarbutton:not([type="menu"]) button hbox {
  padding-bottom: 4px !important;
}
#bt-cybermentors-toolbar bttoolbarbutton[type="menu"] button hbox {
  padding-bottom: 2px !important;
}


#main-window[btBoom="cybermentors"]
  #window-controls > toolbarbutton {
    -moz-appearance: toolbarbutton !important;
    padding: 2px !important;
    border-width: 1px !important;
    border-color: inherit !important;
  }
