
/* Tabs */
#main-window[btBoom="cybermentors"]
  .tabbrowser-tab:not([selected="true"]) {
    -moz-appearance: none;  /* Linux needs this */
    margin-right: 1px !important;
    margin-left: 1px !important;
    margin-top: 2px !important;
    border: 1px !important;
    border-right-width: 1px !important;
    border-left-width: 1px !important;
    -moz-border-right-colors: #002654;
    -moz-border-left-colors: #002654;
    -moz-border-radius-topleft: 4px !important;
    -moz-border-radius-topright: 4px !important;
    background-image: url("../../skin/cybermentors/resources/tabbrowser/win/tab-bkgnd.png");
  }

#main-window[btBoom="cybermentors"]
  .tabbrowser-tab:not([selected="true"]):hover {
    background-image: url("../../skin/cybermentors/resources/tabbrowser/win/tab-hover-bkgnd.png");
  }

#main-window[btBoom="cybermentors"]
  .tabbrowser-tab[selected="true"] {
    -moz-appearance: none;  /* Linux needs this */
    margin-right: 1px !important;
    margin-left: 1px !important;
    margin-top: 2px !important;
    border: 1px !important;
    border-right-width: 1px !important;
    border-left-width: 1px !important;
    -moz-border-right-colors: #002654;
    -moz-border-left-colors: #002654;
    background-image: url("../../skin/cybermentors/resources/tabbrowser/win/tab-active-bkgnd.png");
  }

/* tabbrowser-tab focus ring */
#main-window[btBoom="cybermentors"]
  .tabbrowser-tab:not([selected="true"]) .tab-text {
    color: #000 !important;
  }

#main-window[btBoom="cybermentors"]
  .tabbrowser-tab[selected="true"] .tab-text {
    color: #fff !important;
  }
