/* BT: Mac Tab Override */
#main-window[btBoom="cybermentors"]:not([active="true"]) .tabbrowser-tab[selected="true"] > .tab-image-middle,
#main-window[btBoom="cybermentors"]:not([active="true"]) .tabbrowser-tab[selected="true"] > .tab-closebutton,
#main-window[btBoom="cybermentors"]:not([active="true"]) .tabbrowser-tab[selected="true"] > .tab-close-button {
  background-image: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-middle-inactive.png");
}

#main-window[btBoom="cybermentors"]:not([active="true"]) .tabbrowser-tab[selected="true"] > .tab-image-left,
#main-window[btBoom="cybermentors"]:not([active="true"]) .tabbrowser-tab[selected="true"][chromedir="rtl"] > .tab-image-right {
  background: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-left-inactive.png") no-repeat;
}

#main-window[btBoom="cybermentors"]:not([active="true"]) .tabbrowser-tab[selected="true"] > .tab-image-right,
#main-window[btBoom="cybermentors"]:not([active="true"]) .tabbrowser-tab[selected="true"][chromedir="rtl"] > .tab-image-left {
  background: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-right-inactive.png") no-repeat;
}

#main-window[btBoom="cybermentors"]
.tabbrowser-tab > .tab-image-right,
#main-window[btBoom="cybermentors"]
.tabbrowser-tab[chromedir="rtl"] > .tab-image-left {
  background: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-right.png") no-repeat;
}

#main-window[btBoom="cybermentors"]
.tabbrowser-tab:not([selected="true"]) > .tab-image-right,
#main-window[btBoom="cybermentors"]
.tabbrowser-tab:not([selected="true"])[chromedir="rtl"] > .tab-image-left {
  background: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-right-bkgnd.png") no-repeat;
}

#main-window[btBoom="cybermentors"]
.tabbrowser-tab > .tab-image-left,
#main-window[btBoom="cybermentors"]
.tabbrowser-tab[chromedir="rtl"] > .tab-image-right {
  background: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-left.png") no-repeat;
}

#main-window[btBoom="cybermentors"]
.tabbrowser-tab:not([selected="true"]) > .tab-image-left,
#main-window[btBoom="cybermentors"]
.tabbrowser-tab:not([selected="true"])[chromedir="rtl"] > .tab-image-right {
  background: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-left-bkgnd.png") no-repeat;
}

#main-window[btBoom="cybermentors"]
.tabbrowser-tab > .tab-image-middle,
#main-window[btBoom="cybermentors"]
.tabbrowser-tab > .tab-closebutton {
  background: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-middle.png") repeat-x;
  -moz-box-pack: center;
}

#main-window[btBoom="cybermentors"]
.tabbrowser-tab:not([selected="true"]) > .tab-image-middle,
#main-window[btBoom="cybermentors"]
.tabbrowser-tab:not([selected="true"]) > .tab-close-button {
  background: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-middle-bkgnd.png");
}

#main-window[btBoom="cybermentors"]
.tabbrowser-tab > .tab-close-button {
  background-image: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-middle.png");
  background-repeat: repeat-x;
}

#main-window[btBoom="cybermentors"]
.tabbrowser-tab:not([selected="true"]) > .tab-close-button {
  background-image: url("../../skin/cybermentors/resources/tabbrowser/mac/tab-middle-bkgnd.png");
}

/* BC: Tab Text */
#main-window[btBoom="cybermentors"]
  .tab-text-shadow {
    color: #000000;
  }

#main-window[btBoom="cybermentors"]
  .tabbrowser-tab {
    color: #DDD !important;
  }

#main-window[btBoom="cybermentors"]
  .tabbrowser-tab[selected="true"],
  .tabbrowser-tab:hover {
    color: #FFF !important;
  }
