/* Navigation buttons *

#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar:first-child toolbarbutton,
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar:first-child+toolbar toolbarbutton,
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar:first-child+toolbar+toolbar toolbarbutton { 
    -moz-appearance: none;
    border: 0px;
    padding: 0px 0px;
    margin: 0px !important;
  }

#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar:first-child toolbarbutton[checked="true"],
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar:first-child+toolbar toolbarbutton[checked="true"],
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar:first-child+toolbar+toolbar toolbarbutton[checked="true"] { 
    background-color: transparent !important;
  }

#main-window[btBoom="cybermentors"]
  #navigator-toolbox > toolbar .toolbarbutton-1 .toolbarbutton-text{
    color: #000;
  }

#main-window[btBoom="cybermentors"]
  #navigator-toolbox > toolbar:first-child .toolbarbutton-1 .toolbarbutton-text,
#main-window[btBoom="cybermentors"]
  #navigator-toolbox > #nav-bar .toolbarbutton-1 .toolbarbutton-text,
#main-window[btBoom="cybermentors"]
  #navigator-toolbox > #nav-bar + toolbar .toolbarbutton-1 .toolbarbutton-text {
    color: #FFF;
  }

#main-window[btBoom="cybermentors"]
  #navigator-toolbox > toolbar .toolbarbutton-1[disabled="true"] .toolbarbutton-text {
    color: #000;
    opacity: 0.5;
  }

#main-window[btBoom="cybermentors"]
  #navigator-toolbox > toolbar:first-child .toolbarbutton-1[disabled="true"] .toolbarbutton-text,
#main-window[btBoom="cybermentors"]
  #navigator-toolbox > #nav-bar .toolbarbutton-1[disabled="true"] .toolbarbutton-text,
#main-window[btBoom="cybermentors"]
  #navigator-toolbox > #nav-bar + toolbar .toolbarbutton-1[disabled="true"] .toolbarbutton-text {
    color: #aaa;
    opacity: 1;
  }

/* Full mode fix for nav-bar *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] > .toolbarbutton-1:not([type="menu-button"]),
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] > .toolbarbutton-menubutton-button:not([type="menu-button"]) {
    -moz-box-orient: vertical;
    min-width: 0;
    margin: 0px 2px !important;
  }  

#main-window[btBoom="cybermentors"]
  #nav-bar[mode="full"] > .toolbarbutton-1:not([type="menu-button"]),
#main-window[btBoom="cybermentors"]
  #nav-bar[mode="full"] > .toolbarbutton-menubutton-button:not([type="menu-button"]) {
    -moz-box-orient: vertical;
    min-width: 0;
    margin: 0px 2px !important;
  }  

/* Changing the styling on the drop marker back to a simple dropmarker,
 * Using the one from global skin
 *
#main-window[btBoom="cybermentors"]
  #back-forward-dropmarker {
    list-style-image: url(../../skin/cybermentors/resources/drop-marker.png) !important;
    -moz-image-region: rect(0px 11px 0px 11px) !important;
    -moz-margin-start: 0;
    -moz-margin-end: 3px;
    -moz-padding-start: 0;
    -moz-padding-end: 1px;
    border-left: none;
    border-right: none;
  }

#main-window[btBoom="cybermentors"]
  #back-forward-dropmarker[chromedir="rtl"] {
    -moz-image-region: rect(0px, 519px, 33px, 504px) !important;
  }

#main-window[btBoom="cybermentors"]
  toolbar[mode="icons"] #back-forward-dropmarker > image {
    display: -moz-box;
    margin: 0;
    padding: 0;
  }

/* back button-- *

#main-window[btBoom="cybermentors"]
  #nav-bar #back-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }

#main-window[btBoom="cybermentors"]
  #navigator-toolbox #back-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }

#main-window[btBoom="cybermentors"]
  toolbar #back-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #back-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #back-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }

#main-window[btBoom="cybermentors"]
  #back-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #back-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #back-button {
    -moz-image-region: rect(0px 30px 30px 0px) !important;   
  }

#main-window[btBoom="cybermentors"]
  #back-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #back-button[buttonover="true"] {
    -moz-image-region: rect(50px 30px 80px 0px) !important;
  }

#main-window[btBoom="cybermentors"]
  #back-button[disabled="true"] {
    -moz-image-region: rect(150px 30px 180px 0px) !important;
  }

#main-window[btBoom="cybermentors"]
  #back-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 30px 130px 0px) !important;
  }

/* back button-- small *

#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #back-button .toolbarbutton-icon {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #back-button .toolbarbutton-icon {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #back-button .toolbarbutton-icon {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #back-button .toolbarbutton-icon {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #back-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #back-button {
    -moz-image-region: rect(0px 20px 20px 0px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #back-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #back-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #back-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #back-button[buttonover="true"] {
    -moz-image-region: rect(20px 20px 40px 0px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #back-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #back-button[disabled="true"] {
    -moz-image-region: rect(60px 20px 80px 0px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #back-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #back-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 20px 60px 0px) !important;
  }
  
/* forward button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #forward-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #forward-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #forward-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #forward-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #forward-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #forward-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #forward-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #forward-button {
    -moz-image-region: rect(0px 80px 30px 50px) !important;   
  }
  
#main-window[btBoom="cybermentors"]
  #forward-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #forward-button[buttonover="true"] {
    -moz-image-region: rect(50px 80px 80px 50px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #forward-button[disabled="true"] {
    -moz-image-region: rect(150px 80px 180px 50px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #forward-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 80px 130px 50px) !important;
  }
  
/* forward button-- small *
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #forward-button .toolbarbutton-icon {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #forward-button .toolbarbutton-icon {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #forward-button .toolbarbutton-icon {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #forward-button .toolbarbutton-icon {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #forward-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #forward-button {
    -moz-image-region: rect(0px 40px 20px 20px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #forward-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #forward-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #forward-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #forward-button[buttonover="true"] {
    -moz-image-region: rect(20px 40px 40px 20px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #forward-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #forward-button[disabled="true"] {
    -moz-image-region: rect(60px 40px 80px 20px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #forward-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #forward-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 40px 60px 20px) !important;
  }
  
/* home button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #home-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #home-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #home-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #home-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #home-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #home-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #home-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #home-button {
    -moz-image-region: rect(0px 130px 30px 100px) !important;   
  }
  
#main-window[btBoom="cybermentors"]
  #home-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #home-button[buttonover="true"] {
    -moz-image-region: rect(50px 130px 80px 100px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #home-button[disabled="true"] {
    -moz-image-region: rect(150px 130px 180px 100px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #home-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 130px 130px 100px) !important;
  }
  
/* home button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #home-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #home-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #home-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #home-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #home-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #home-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #home-button  {
    -moz-image-region: rect(0px 60px 20px 40px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #home-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #home-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #home-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #home-button[buttonover="true"] {
    -moz-image-region: rect(20px 60px 40px 40px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #home-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #home-button[disabled="true"] {
    -moz-image-region: rect(60px 60px 80px 40px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #home-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #home-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 60px 60px 40px) !important;
  }
  
/* reload button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #reload-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #reload-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #reload-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #reload-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #reload-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #reload-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #reload-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #reload-button {
    -moz-image-region: rect(0px 180px 30px 150px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #reload-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #reload-button[buttonover="true"] {
    -moz-image-region: rect(50px 180px 80px 150px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #reload-button[disabled="true"] {
    -moz-image-region: rect(150px 180px 180px 150px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #reload-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 180px 130px 150px) !important;
  }
  
/* reload button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #reload-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #reload-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #reload-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #reload-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #reload-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #reload-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #reload-button {
    -moz-image-region: rect(0px 80px 20px 60px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #reload-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #reload-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #reload-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #reload-button[buttonover="true"] {
    -moz-image-region: rect(20px 80px 40px 60px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #reload-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #reload-button[disabled="true"] {
    -moz-image-region: rect(60px 80px 80px 60px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #reload-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #reload-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 80px 60px 60px) !important;
  }
  
/* stop button-- *
  
#main-window[btBoom="cybermentors"]
  #nav-bar #stop-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #stop-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #stop-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #stop-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #stop-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #stop-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #stop-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #stop-button {
    -moz-image-region: rect(0px 230px 30px 200px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #stop-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #stop-button[buttonover="true"] {
    -moz-image-region: rect(50px 230px 80px 200px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #stop-button[disabled="true"] {
    -moz-image-region: rect(150px 230px 180px 200px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #stop-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 230px 130px 200px) !important;
  }
  
/* stop button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #stop-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #stop-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #stop-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #stop-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #stop-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #stop-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #stop-button  {
    -moz-image-region: rect(0px 100px 20px 80px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #stop-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #stop-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #stop-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #stop-button[buttonover="true"] {
    -moz-image-region: rect(20px 100px 40px 80px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #stop-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #stop-button[disabled="true"] {
    -moz-image-region: rect(60px 100px 80px 80px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #stop-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #stop-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 100px 60px 80px) !important;
  }
  
/* downloads button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #downloads-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #downloads-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #downloads-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #downloads-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #downloads-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #downloads-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #downloads-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #downloads-button {
    -moz-image-region: rect(0px 280px 30px 250px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #downloads-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #downloads-button[buttonover="true"] {
    -moz-image-region: rect(50px 280px 80px 250px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #downloads-button[disabled="true"] {
    -moz-image-region: rect(150px 280px 180px 250px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #downloads-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 280px 130px 250px) !important;
  }
  
/* downloads button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #downloads-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #downloads-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #downloads-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #downloads-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #downloads-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #downloads-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #downloads-button {
    -moz-image-region: rect(0px 120px 20px 100px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #downloads-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #downloads-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #downloads-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #downloads-button[buttonover="true"] {
    -moz-image-region: rect(20px 120px 40px 100px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #downloads-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #downloads-button[disabled="true"] {
    -moz-image-region: rect(60px 120px 80px 100px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #downloads-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #downloads-button:not([disabled="true"]):hover:active  {
    -moz-image-region: rect(40px 120px 60px 100px) !important;
  }
 
/* history button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #history-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #history-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #history-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #history-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #history-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #history-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #history-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #history-button {
    -moz-image-region: rect(0px 330px 30px 300px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #history-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #history-button[buttonover="true"] {
    -moz-image-region: rect(50px 330px 80px 300px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #history-button[disabled="true"] {
    -moz-image-region: rect(150px 330px 180px 300px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #history-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 330px 130px 300px) !important;
  }
  
/* history button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #history-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #history-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #history-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #history-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #history-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #history-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #history-button {
    -moz-image-region: rect(0px 140px 20px 120px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #history-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #history-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #history-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #history-button[buttonover="true"] {
    -moz-image-region: rect(20px 140px 40px 120px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #history-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #history-button[disabled="true"] {
    -moz-image-region: rect(60px 140px 80px 120px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #history-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #history-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 140px 60px 120px) !important;
  }
  
/* bookmarks button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #bookmarks-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #bookmarks-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #bookmarks-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #bookmarks-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #bookmarks-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #bookmarks-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #bookmarks-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #bookmarks-button {
    -moz-image-region: rect(0px 380px 30px 350px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #bookmarks-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #bookmarks-button[buttonover="true"] {
    -moz-image-region: rect(50px 380px 80px 350px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #bookmarks-button[disabled="true"] {
    -moz-image-region: rect(150px 380px 180px 350px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #bookmarks-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 380px 130px 350px) !important;
  }
  
/* bookmarks button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #bookmarks-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #bookmarks-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #bookmarks-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #bookmarks-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #bookmarks-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #bookmarks-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #bookmarks-button {
    -moz-image-region: rect(0px 160px 20px 140px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #bookmarks-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #bookmarks-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #bookmarks-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #bookmarks-button[buttonover="true"] {
    -moz-image-region: rect(20px 160px 40px 140px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #bookmarks-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #bookmarks-button[disabled="true"] {
    -moz-image-region: rect(60px 160px 80px 140px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #bookmarks-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #bookmarks-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 160px 60px 140px) !important;
  }
  
/* print button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #print-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #print-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #print-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #print-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #print-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #print-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #print-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #print-button {
    -moz-image-region: rect(0px 430px 30px 400px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #print-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #print-button[buttonover="true"] {
    -moz-image-region: rect(50px 430px 80px 400px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #print-button[disabled="true"] {
    -moz-image-region: rect(150px 430px 180px 400px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #print-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 430px 130px 400px) !important;
  }
  
/* print button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #print-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #print-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #print-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #print-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #print-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #print-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #print-button {
    -moz-image-region: rect(0px 180px 20px 160px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #print-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #print-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #print-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #print-button[buttonover="true"] {
    -moz-image-region: rect(20px 180px 40px 160px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #print-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #print-button[disabled="true"] {
    -moz-image-region: rect(60px 180px 80px 160px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #print-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #print-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 180px 60px 160px) !important;
  }
  
/* new-tab button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #new-tab-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #new-tab-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #new-tab-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #new-tab-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #new-tab-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #new-tab-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #new-tab-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #new-tab-button {
    -moz-image-region: rect(0px 480px 30px 450px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #new-tab-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #new-tab-button[buttonover="true"] {
    -moz-image-region: rect(50px 480px 80px 450px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #new-tab-button[disabled="true"] {
    -moz-image-region: rect(150px 480px 180px 450px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #new-tab-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 480px 130px 450px) !important;
  }
  
/* new-tab button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #new-tab-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #new-tab-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-tab-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-tab-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-tab-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-tab-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-tab-button {
    -moz-image-region: rect(0px 200px 20px 180px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-tab-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-tab-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-tab-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-tab-button[buttonover="true"] {
    -moz-image-region: rect(40px 200px 60px 180px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-tab-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-tab-button[disabled="true"] {
    -moz-image-region: rect(60px 200px 80px 180px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-tab-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-tab-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 200px 60px 180px) !important;
  }
  
/* new-window button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #new-window-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #new-window-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #new-window-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #new-window-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #new-window-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #new-window-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #new-window-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #new-window-button {
    -moz-image-region: rect(0px 530px 30px 500px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #new-window-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #new-window-button[buttonover="true"] {
    -moz-image-region: rect(50px 530px 80px 500px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #new-window-button[disabled="true"] {
    -moz-image-region: rect(150px 530px 180px 500px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #new-window-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 530px 130px 500px) !important;
  }
  
/* new-window button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #new-window-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #new-window-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-window-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-window-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-window-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-window-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-window-button {
    -moz-image-region: rect(0px 220px 20px 200px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-window-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-window-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-window-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-window-button[buttonover="true"] {
    -moz-image-region: rect(20px 220px 40px 200px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-window-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-window-button[disabled="true"] {
    -moz-image-region: rect(60px 220px 80px 200px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #new-window-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #new-window-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 220px 60px 200px) !important;
  }
  
/* cut button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #cut-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #cut-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #cut-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #cut-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #cut-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #cut-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #cut-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #cut-button {
    -moz-image-region: rect(0px 580px 30px 550px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #cut-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #cut-button[buttonover="true"] {
    -moz-image-region: rect(50px 580px 80px 550px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #cut-button[disabled="true"] {
    -moz-image-region: rect(150px 580px 180px 550px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #cut-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 580px 130px 550px) !important;
  }
  
/* cut button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #cut-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #cut-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #cut-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #cut-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #cut-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #cut-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #cut-button {
    -moz-image-region: rect(0px 240px 20px 220px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #cut-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #cut-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #cut-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #cut-button[buttonover="true"] {
    -moz-image-region: rect(20px 240px 40px 220px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #cut-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #cut-button[disabled="true"] {
    -moz-image-region: rect(60px 240px 80px 220px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #cut-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #cut-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 240px 60px 220px) !important;
  }
  
/* copy button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #copy-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #copy-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #copy-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #copy-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #copy-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #copy-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #copy-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #copy-button {
    -moz-image-region: rect(0px 630px 30px 600px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #copy-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #copy-button[buttonover="true"] {
    -moz-image-region: rect(50px 630px 80px 600px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #copy-button[disabled="true"] {
    -moz-image-region: rect(150px 630px 180px 600px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #copy-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 630px 130px 600px) !important;
  }
  
/* copy button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #copy-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #copy-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #copy-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #copy-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #copy-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #copy-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #copy-button {
    -moz-image-region: rect(0px 260px 20px 240px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #copy-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #copy-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #copy-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #copy-button[buttonover="true"] {
    -moz-image-region: rect(20px 260px 40px 240px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #copy-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #copy-button[disabled="true"] {
    -moz-image-region: rect(60px 260px 80px 240px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #copy-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #copy-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 260px 60px 240px) !important;
  }
  
/* paste button-- *
#main-window[btBoom="cybermentors"]
  #nav-bar #paste-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png");
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox #paste-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar #paste-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #paste-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #paste-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #paste-button,
#CustomizeToolbarSheet[btBoom="cybermentors"]
  #paste-button,
#CustomizeToolbarWindow[btBoom="cybermentors"]
  #paste-button {
    -moz-image-region: rect(0px 680px 30px 650px) !important; 
  }
  
#main-window[btBoom="cybermentors"]
  #paste-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  #paste-button[buttonover="true"] {
    -moz-image-region: rect(50px 680px 80px 650px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #paste-button[disabled="true"] {
    -moz-image-region: rect(150px 680px 180px 650px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  #paste-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(100px 680px 130px 650px) !important;
  }
  
/* paste button-- small *
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[iconsize="small"] #paste-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #navigator-toolbox toolbar[mode="full"] #paste-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #paste-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #paste-button {
    list-style-image: url("../../skin/cybermentors/resources/Toolbar-small.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #paste-button .toolbarbutton-icon {
    padding-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #paste-button,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #paste-button {
    -moz-image-region: rect(0px 280px 20px 260px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #paste-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #paste-button[buttonover="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #paste-button:not([disabled="true"]):hover,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #paste-button[buttonover="true"] {
    -moz-image-region: rect(20px 280px 40px 260px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #paste-button[disabled="true"],
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #paste-button[disabled="true"] {
    -moz-image-region: rect(60px 280px 80px 260px) !important;
  }
  
#main-window[btBoom="cybermentors"]
  toolbar[iconsize="small"] #paste-button:not([disabled="true"]):hover:active,
#main-window[btBoom="cybermentors"]
  toolbar[mode="full"] #paste-button:not([disabled="true"]):hover:active {
    -moz-image-region: rect(40px 280px 60px 260px) !important;
  }
