/* URLBar Override */
#main-window[btBoom="cybermentors"]
  #urlbar {
    background: url("../../skin/cybermentors/resources/urlbar/endcap.png") transparent right center no-repeat !important;
  }
  
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] {
    background: url("../../skin/cybermentors/resources/urlbar/endcap-focused.png") transparent right center no-repeat !important;
  }
  
#main-window[btBoom="cybermentors"]
  #urlbar .textbox-input-box,
#main-window[btBoom="cybermentors"]
  #urlbar-icons {
    background: url("../../skin/cybermentors/resources/urlbar/textfield-mid.png") transparent left center  repeat-x !important;
    color: #000;
  }
  
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] .textbox-input-box,
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] #urlbar-icons {
    background-image: url("../../skin/cybermentors/resources/urlbar/textfield-mid-focused.png") !important;
  }
  
/* Identity Indicator Styling */
/* Location bar visuals*/
  
#main-window[btBoom="cybermentors"]
  #identity-box {
    background: url("../../skin/cybermentors/resources/urlbar/startcap.png") left center no-repeat !important;
  }
  
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] > #identity-box {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-focused.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-box:hover:active,
#main-window[btBoom="cybermentors"]
  #identity-box[open="true"] {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-active.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-icon-label {
    color: #000;
    height: 26px !important;
    -moz-box-align: center;
    min-width: 13px;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-box.unknownIdentity > hbox > #identity-icon-label {
    display: none;
  }
  
  
/* Verified domain */
/* - Normal state */
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedDomain {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-secure-start.png") !important;
    margin-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedDomain > hbox {
    background: url("../../skin/cybermentors/resources/urlbar/startcap-secure-mid.png") repeat-x center center !important;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedDomain > hbox > #identity-icon-label {
    background: url("../../skin/cybermentors/resources/urlbar/startcap-secure-end.png") no-repeat center right !important;
    margin-right: -12px;
    padding-top: 5px !important;
  }
  
/* - Active state */
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedDomain:hover:active {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-secure-start-active.png") !important;
    margin-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedDomain:hover:active > hbox {
    background: url("../../skin/cybermentors/resources/urlbar/startcap-secure-mid-active.png") repeat-x center center !important;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedDomain:hover:active > hbox > #identity-icon-label {
    background: url("../../skin/cybermentors/resources/urlbar/startcap-secure-end-active.png") no-repeat center right !important;
    margin-right: -12px;
  }
  
/* - Focus state */
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] > #identity-box.verifiedDomain {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-secure-start-focused.png") !important;
    margin-right: 1px;
  }
  
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] > #identity-box.verifiedDomain > hbox {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-secure-mid-focused.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] > #identity-box.verifiedDomain > hbox > #identity-icon-label {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-secure-end-focused.png") !important;
    margin-right: -12px;
  }
  
/* Verified Identity */
/* - Normal state */
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedIdentity {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-verified-start.png") !important;
    margin-right: 13px;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedIdentity > hbox {
    background: url("../../skin/cybermentors/resources/urlbar/startcap-verified-mid.png") repeat-x center center !important;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedIdentity > hbox > #identity-icon-label {
    background: url("../../skin/cybermentors/resources/urlbar/startcap-verified-end.png") no-repeat center right !important;
    margin-right: -13px;
    padding-top: 5px !important;
  }
  
/* - Active state */
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedIdentity:hover:active {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-verified-start-active.png") !important;
    margin-right: 13px;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedIdentity:hover:active > hbox {
    background: url("../../skin/cybermentors/resources/urlbar/startcap-verified-mid-active.png") repeat-x center center !important;
  }
  
#main-window[btBoom="cybermentors"]
  #identity-box.verifiedIdentity:hover:active > hbox > #identity-icon-label {
    background: url("../../skin/cybermentors/resources/urlbar/startcap-verified-end-active.png") no-repeat center right !important;
    margin-right: -13px;
  }
  
/* - Focus state */
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] > #identity-box.verifiedIdentity {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-verified-start-focused.png") !important;
    margin-right: 13px;
  }
  
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] > #identity-box.verifiedIdentity > hbox {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-verified-mid-focused.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] > #identity-box.verifiedIdentity > hbox > #identity-icon-label {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-verified-end-focused.png") !important;
    margin-right: -13px;
  }

/* BC:  Searchbar Restyling */

#main-window[btBoom="cybermentors"]
  .searchbar-textbox > .autocomplete-textbox-container > .textbox-input-box {
    background: url("../../skin/cybermentors/resources/urlbar/textfield-mid.png") repeat-x !important;
  }

#main-window[btBoom="cybermentors"]
  .searchbar-textbox[focused="true"] > .autocomplete-textbox-container > .textbox-input-box {
    background-image: url("../../skin/cybermentors/resources/urlbar/textfield-mid-focused.png") !important;
  }
  
  /* BC: Start Cap */
  
#main-window[btBoom="cybermentors"]
  .searchbar-engine-button {
    background: url("../../skin/cybermentors/resources/urlbar/startcap.png") right center no-repeat !important;
  }

#main-window[btBoom="cybermentors"]
  .searchbar-engine-button[chromedir="rtl"] {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-rtl.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  .searchbar-textbox[focused="true"] > .searchbar-engine-button {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-focused.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  .searchbar-textbox[focused="true"] > .searchbar-engine-button[chromedir="rtl"] {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-focused-rtl.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  .searchbar-engine-button:hover:active,
#main-window[btBoom="cybermentors"]
  .searchbar-engine-button[open="true"] {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-active.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  .searchbar-engine-button:hover:active[chromedir="rtl"],
#main-window[btBoom="cybermentors"]
  .searchbar-engine-button[open="true"][chromedir="rtl"] {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-active-rtl.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  .searchbar-textbox[focused="true"] > .searchbar-engine-button:active,
#main-window[btBoom="cybermentors"]
  .searchbar-textbox[focused="true"] > .searchbar-engine-button[open="true"] {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-active-focused.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  .searchbar-textbox[focused="true"] > .searchbar-engine-button[chromedir="rtl"]:active,
#main-window[btBoom="cybermentors"]
  .searchbar-textbox[focused="true"] > .searchbar-engine-button[open="true"][chromedir="rtl"] {
    background-image: url("../../skin/cybermentors/resources/urlbar/startcap-active-focused-rtl.png") !important;
  }
  
  /* BC: End cap */
#main-window[btBoom="cybermentors"]
  .search-go-container {
    background: url("../../skin/cybermentors/resources/urlbar/endcap.png") no-repeat right top !important;
  }
  
#main-window[btBoom="cybermentors"]
  .search-go-container[chromedir="rtl"] {
    background-image: url("../../skin/cybermentors/resources/urlbar/endcap-rtl.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  .searchbar-textbox[focused="true"] > .search-go-container {
    background-image: url("../../skin/cybermentors/resources/urlbar/endcap-focused.png") !important;
  }
  
#main-window[btBoom="cybermentors"]
  .searchbar-textbox[focused="true"] > .search-go-container[chromedir="rtl"] {
    background: url("../../skin/cybermentors/resources/urlbar/endcap-focused-rtl.png") no-repeat left top !important;
  }

#main-window[btBoom="cybermentors"]
  .searchbar-textbox .textbox-input-box {
    color: #444 !important;
  }

#main-window[btBoom="cybermentors"]
  .searchbar-textbox  .searchbar-engine-image {
    margin-left: -2px !important;
  }
  
/* Open Window Bug, urlbar is in readonly mode, no drop marker */
#main-window[btBoom="cybermentors"]
  #urlbar[enablehistory="false"] {
    padding-right: 26px !important;
  }
