#main-window[btBoom="cybermentors"]
  #urlbar-container {
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    -moz-margin-end: 5px;
    height: 20px !important;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    -moz-box-align: start;
  }
