/* Ff3.5 urlbar fix */
#main-window[btBoom="cybermentors"]
  #urlbar {
    padding-right: 10px;
  }
  #main-window[btBoom="cybermentors"]
    #identity-box {
      min-width: 44px;
    }
  #main-window[btBoom="cybermentors"] #urlbar >
    #identity-box.verifiedDomain,
  #main-window[btBoom="cybermentors"] #urlbar >
    #identity-box.verifiedIdentity,
  #main-window[btBoom="cybermentors"] #urlbar[focused="true"] >
    #identity-box.verifiedDomain,
  #main-window[btBoom="cybermentors"] #urlbar[focused="true"] >
    #identity-box.verifiedIdentity{
      padding-right: 0px;
      padding-left: 12px;
      margin-right: 0px;
    }

  #main-window[btBoom="cybermentors"] #urlbar >
    #identity-box.verifiedDomain > hbox > #identity-icon-label,
  #main-window[btBoom="cybermentors"] #urlbar >
    #identity-box.verifiedIdentity > hbox > #identity-icon-label,
  #main-window[btBoom="cybermentors"] #urlbar[focused="true"] >
    #identity-box.verifiedDomain > hbox > #identity-icon-label,
  #main-window[btBoom="cybermentors"] #urlbar[focused="true"] >
    #identity-box.verifiedIdentity > hbox > #identity-icon-label {
      margin-right: -13px;
      padding-right: 13px;
    }
    
  #main-window[btBoom="cybermentors"] #urlbar[level="high"]
    hbox.textbox-input-box {
      margin-left: 13px;
    }
    
/* ff3.5 searchbar fixes */
#main-window[btBoom="cybermentors"]
  .searchbar-textbox > .autocomplete-textbox-container > .textbox-input-box {
    background-position: 0% 50% !important;
  }
#main-window[btBoom="cybermentors"]
  .search-go-container {
    background-position: 100% 50% !important;
  }
#main-window[btBoom="cybermentors"]
  .searchbar-engine-button {
    margin-left: -45px;
  }

