/* Urlbar Text selection fixes */
#main-window[btBoom="cybermentors"]
  #urlbar .textbox-input-box,
#main-window[btBoom="cybermentors"]
  #urlbar-icons {
    background-image: url("../../skin/cybermentors/resources/urlbar/textfield-mid.png") !important;
    background-position: left center !important;
    background-repeat: repeat-x !important;
    background-color: rgba(255,255,255,0.1) !important;
    color: #000;
  }
  
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] .textbox-input-box,
#main-window[btBoom="cybermentors"]
  #urlbar[focused="true"] #urlbar-icons {
    background-image: url("../../skin/cybermentors/resources/urlbar/textfield-mid-focused.png") !important;
    background-position: left center !important;
    background-repeat: repeat-x !important;
    background-color: rgba(255,255,255,0.1) !important;
    color: #000;
  }

/* Searchbar highlight fix for windows */
#main-window[btBoom="cybermentors"]
  .searchbar-textbox > .autocomplete-textbox-container > .textbox-input-box {
    background-image: url("../../skin/cybermentors/resources/urlbar/textfield-mid.png") !important;
    background-repeat: repeat-x !important;
    background-color: rgba(255,255,255,0.1) !important;
  }

#main-window[btBoom="cybermentors"]
  .searchbar-textbox[focused="true"] > .autocomplete-textbox-container > .textbox-input-box {
    background-image: url("../../skin/cybermentors/resources/urlbar/textfield-mid-focused.png") !important;
    background-repeat: repeat-x !important;
    background-color: rgba(255,255,255,0.1) !important;
  }

/* Fix for bug #186, squre edge on searchbox,
 * introduced in Gecko/20090603 Shiretoko/3.5pre
 */
#main-window[btBoom="cybermentors"]
  .searchbar-engine-button {
    -moz-box-shadow: none !important;
  }
#main-window[btBoom="cybermentors"]
  #identity-box {
    -moz-box-shadow: none !important;
  }
