/* deal with too small window */
#united-toolbar[mode="full"]
{
  /* Needed so that the overflow event fires */
  overflow: hidden;
}
toolbar[mode="full"] toolbarbutton[id^="united-"]:not([type="menu-button"]),
toolbar[mode="full"] toolbarbutton[id^="united-"][type="menu-button"],
toolbar[mode="full"] toolbarbutton[id^="united-"][type="menu-button"] > toolbarbutton
{
  min-width: 15px; /* override 57px in browser.css */
}
toolbar[mode="full"] toolbarbutton[id^="united-"][type="menu-button"] > toolbarbutton > image
{
  margin-right: 3px; /* FF4 Windows */
}
#united-toolbar[mode="full"] toolbarbutton[crowded="true"] label.toolbarbutton-text
{
  display: none;
}
#united-toolbar[mode="full"] toolbarbutton[united-icon-only="true"] label.toolbarbutton-text
{
  display: none;
}

#united-toolbar {
  -moz-box-ordinal-group: 99 !important;
}

toolbar[mode="full"] toolbarbutton[id^="united-"] > label.toolbarbutton-text
{
  margin-left: 3px !important;
  margin-right: 3px !important;
}

#united-toolbar > toolbarseparator,
#united-toolbar > splitter {
  min-height: 0px;
  height: 24px;
}

#united-toolbar > splitter {
  border: none;
  background: transparent;
  margin-left: -3px;
}

/* toolbarbutton-1 defaults to vertical orientation, so we need to override that.
   To make sure we override, we have to use the same CSS specificity. */
toolbar[mode="full"] .toolbarbutton-1[id^="united-"],
toolbar[mode="icons"] .toolbarbutton-1[id^="united-"],
toolbar[mode="full"] .toolbarbutton-1[id^="united-"][type="menu-button"] > toolbarbutton {
  -moz-box-orient: horizontal;
}
