html {
  height: 100%;
}

body {
  font-family: Verdana, sans-serif;
  background-color: ButtonFace;
}
#container {
  background-repeat: no-repeat;
  background-color: white;
  border: 1px outset black;
  padding: 20px;
  margin-left: 25%;
  margin: auto;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-top: 50px;
  color: #262626;
  font-size: 13px;
}

#outer_container {
  text-align: center;
}

h1 {
  display: none;
  text-align: center;
}
.intro {
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}
.intro .descr {
  font-size: medium;
  font-weight: normal;
}
.checkbox-box {
  font-size: small;
  margin-bottom: 10px;
}

.checkbox-box > div {
  margin-bottom: 5px;
}

.section-heading {
  font-weight: bold;
  margin-top: 15px;
}

.widget-box {
  font-size: small;
  margin-bottom: 5px;
  margin-left: 20px;
}
.button-box {
  text-align: right;
  margin-top: 10px;
}

pref-region menulist, pref-region *|menulist {
  min-width: 15em;
  font-size: small;
}
.indent {
  margin-left: 20px;
}

#close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  font-size: 12px;
  color: #2269c3;
}

#close-button img {
  padding-left: 5px;
  vertical-align: middle;
}

#optin-settings {
    width: 35em;
    display: inline-block;
    text-align: left;
}

#footer {
  font-size: x-small;
  font-size: 11px;
  color: #6a6a6a;
  text-align: left;
  position: absolute;
  left: 25px;
  bottom: 25px;
}

#container[brandedbrowser] #optin-settings,
#container[brandedbrowser] #footer {
  display: none;
}

#header {
  text-align: left;
  margin-bottom: 30px;
  font-size: x-large;
}

#logo {
  position: absolute;
  left: 10px;
  top: 10px;
}

#login-buttons {
  bottom: 10px;
  right: 10px;
  text-align: right;
}

#login-buttons button {
  font-size: 19px;
  height: 41px;
  min-width: 120px;
}

#login-button,
#finish-button-amo {
  display: none;
}

#container[amo] #login-button {
  display: inline;
}
#container[amo] #login-button,
#container[amo] #finish-button-amo {
  display: inline;
}
