body {
  background: white; color: black;
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
* { margin:0; padding: 0; }
ul { list-style: none; }
img { border: none; }
a { text-decoration: none; outline: none; color: #2269C3; }
a:hover { text-decoration: underline; }
#container { max-width: 819px; height: 100%; border-right: 1px solid #B2B2B2; border-bottom: 1px solid #B2B2B2; background: white; }
#header { background: black; }
#header a { display: inline-block; position: relative; }
#header .header-text{
  /* TODO */
  vertical-align: top;
  display: inline-block; position: relative;
  margin-left: 30px;
}
#main { padding: 20px 30px; position: relative; font-size: 12px; line-height: 16px; }
#main h2 { font-size: 18px; margin: 2px 0 0 0; }
#main h2 span.warn { color: red; }
#main h3 { font-size: 12px; margin: 24px 0 26px; }
#main dt { margin-top: 10px; font-weight: 700; }
#pic { float: right; margin: 0 0 10px 10px; }
#faq {margin-bottom: 20px; }
#search-button { margin: 0 0 0 20px; float: right; }
#ignore-button { margin: 0 0 20px 0; }
#search-button {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-size: 14px; font-weight: 600;
  padding: 4px 15px;
}
