#united-search-button
{
  list-style-image: url("chrome://unitedtb/skin/search/search-small.png");
}

#united-search-button-select
{
  padding-left: 2px;
}

/* 
 * never display label, but always icon, for search-button
 */
#united-search-button label.toolbarbutton-text
{
  display: none;
}
#united-search-button image.toolbarbutton-icon
{
  display: -moz-box;
}

#united-search-box[crowded="true"] #united-search-field
{
  width: 15em;
}

/* 26 em plus 2 to account for X and mag glass */
#united-search-field, .ac-popup {
  width: 28em;
  min-width: 15em;
}
.ac-item {
  max-width: 250px;
}

#united-search-field {
  height: 2em;
}

#united-search-clear-button {
  list-style-image: url("chrome://unitedtb/skin/search/X.png");
  opacity: 0.4;
}
#united-search-clear-button > label {
  display: none;
}


/********************************
 * Autocomplete widget
 */

.ac-command {
  color: blue;
  text-decoration: underline;
  text-align: right;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
.ac-url {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
*/