@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);dialog>.body>.title>.title-text{visibility:hidden;margin-right:-300px}
dialog>.body>.content{margin-top:-26px;padding:20px;padding-top:10px;padding-bottom:15px;color:#333}
dialog>.body>.title>.title-close{margin:10px 10px 0 0}