@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);stack>vbox{-moz-box-align:end;-moz-box-pack:end}
stack>vbox image{height:8px;-moz-image-region:auto;z-index:100}
[cb-theme-color=dark] image[anonid=base-image-normal],image[anonid=base-image-inverted]{display:none}
[cb-theme-color=dark] image[anonid=base-image-inverted]{display:-moz-box}
.toolbarbutton-icon[yb-native-not-authorized=true] image[anonid=base-image-normal],.toolbarbutton-icon[yb-native-not-authorized=true] image[anonid=base-image-inverted]{opacity:.5}
.toolbarbutton-icon[yb-native-loading=true] image[anonid=base-image-normal],.toolbarbutton-icon[yb-native-loading=true] image[anonid=base-image-inverted]{visibility:hidden}
image[anonid=throbber-image]{list-style-image:none}
.toolbarbutton-icon[yb-native-loading=true] image[anonid=throbber-image]{background-image:url(xb://toolkit/images/throbber.gif);background-position:center;background-repeat:no-repeat}
vbox[anonid=auth-images-container]{display:none}
vbox[anonid=auth-images-container][yb-native-not-authorized=true]{display:-moz-box}
image[anonid=auth-image-normal]{list-style-image:url(../icons/key-overlay.svg)!important}
image[anonid=auth-image-inverted]{list-style-image:url(../icons/key-overlay-inverted.svg)!important}
[cb-theme-color=dark] image[anonid=auth-image-normal],image[anonid=auth-image-inverted]{display:none}
[cb-theme-color=dark] image[anonid=auth-image-inverted]{display:-moz-box}
vbox[anonid=badge-images-container]{display:none}
vbox[anonid=badge-images-container][yb-native-badge-icon]{display:-moz-box}
[cb-theme-color=dark] image[anonid=badge-image-normal],image[anonid=badge-image-inverted]{display:none}
[cb-theme-color=dark] image[anonid=badge-image-inverted]{display:-moz-box}
#CustomizeToolbarWindow vbox[anonid=badge-images-container],#CustomizeToolbarSheet vbox[anonid=badge-images-container],#CustomizeToolbarWindow vbox[anonid=auth-images-container],#CustomizeToolbarSheet vbox[anonid=auth-images-container]{display:none}