#united-coupon-notificationbox {
  font-family: Verdana;
  font-size: 11px;
  color: #262626;
  cursor: pointer;
}

/* Labels don't inherit their cursor from the parent */
#united-coupon-notificationbox label {
  cursor: pointer;
}

#united-coupon-notificationbox hbox {
  height: 32px;
}

.united-coupon-text {
  color: #A10D59;
}

.united-reward-text {
  color: #E8923C
}

#united-reward-brand-text,
#united-coupon-brand-text,
.united-reward-text,
.united-coupon-text {
  font-weight: bold;
}

.united-coupon-button {
  border: solid 1px #f2bd3e;
  -moz-appearance: none;
  background-color: #ffc800;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(255,255,255,.2), inset 0 0 3px rgba(255,255,255,.9);
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0.35) 75%, rgba(255,255,255,0.5));
  height: 22px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

#united-coupon-notificationbox #united-coupon-brand-icon-box,
#united-coupon-notificationbox #united-reward-brand-icon-box {
  padding-left: 10px;
}

#united-coupon-notificationbox[both='true'] #united-reward-brand-icon-box {
  padding-right: 10px;
}


#united-coupon-notificationbox[both='true'] #united-reward-brand-text,
#united-coupon-notificationbox[both='true'] #united-coupon-brand-text,
#united-coupon-notificationbox[both='true'] #united-coupon-brand-icon-box,
#united-coupon-notificationbox[both='true'] #united-reward-box .united-coupon-closebutton {
  display: none;
}

#united-coupon-notificationbox[both='true'] #united-reward-icon-box,
#united-coupon-notificationbox[both='true'] #united-coupon-icon-box {
  background: -moz-linear-gradient(#FFFFFF, #DFE3E5);
}

#united-coupon-notificationbox[both='true'] #united-reward-icon-box {
  border-left: 1px outset #D1D4D9;
}
#united-coupon-notificationbox[both='true'] #united-reward-brand-icon-box {
  border-right: 1px outset #D1D4D9;
}

#united-coupon-alert-rewards,
#united-coupon-alert {
  background-color: white;
}

.united-coupon-brand-box {
  border: 1px outset #D1D4D9;
}

.united-coupon-content-box {
  background: -moz-linear-gradient(#FFFFFF, #DFE3E5);
  border: 1px outset #D1D4D9;
}

.united-coupon-closebutton {
  -moz-appearance: none;
  list-style-image: url("chrome://unitedtb/skin/coupon/closebox.png");
  min-width: 0px;
  background: none;
  border: none;
  margin: 0px;
  padding: 0px;
}