@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);tooltip{-moz-appearance:none;background:0 0;border:0;width:32px;height:32px;margin:0;padding:10px 10px 0 0}
[anonid=button]{list-style-image:url(../icons/balloon-button.png);opacity:.5;cursor:pointer}
[anonid=button]:hover{opacity:1}